### first, ignore all ###
/*
/.**

### specifies not to ignore ###
!/.zshenv
!/.zsh/
!/.zsh/.zshrc
!/.zsh/.zshrc.darwin
!/.zsh/.zsh_aliases
!/.zsh/.zprofile
!/.vimrc
!/.vim/
!/.vim/bundles.vim
!/.vim/keybind.vim
!/.screenrc
!/.bash/
!/.bash/.bash_aliases
!/.bash/.bash_profile
!/.bash/.bashrc
!/.bash/.profile
!/.bin
!/.bin/**
!/.gdbinit
!/.gitconfig

!/README.md
!/LICENSE

!/.gitignore_global
!/.gitconfig_shared
!.gitignore
!.gitkeep

