### at first, ignore all files
/*
/.**

### adds a file
!/.gitignore
!/LICENSE
!/README.md
!/bash
!/bash/bash_aliases
!/bash/bashrc
!/bash/profile
!/gitconfig
!/gitconfig_shared
!/gvimrc
!/screenrc
!/scripts
!/scripts/install.sh
!/scripts/setup-interactive.sh
/terminalrc
!/tigrc
!/uim
!/vim/
!/vim/bundles.vim
!/vim/keybind.vim
!/vim/notes.vim
/vim/pre-bundles.vim
!/vimrc
!/gvimrc
!/zsh
!/zsh/zcompdump
!/zsh/zprofile
!/zsh/zsh_aliases
!/zsh/zshrc
!/zsh/zshrc.darwin
!/zshenv
